.m-t-4 {
  margin-top: 4px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-t-12 {
  margin-top: 12px;
}
.m-t-16 {
  margin-top: 16px;
}
.m-l-4 {
  margin-left: 4px;
}
.m-l-8 {
  margin-left: 8px;
}
.m-l-12 {
  margin-left: 12px;
}
.m-b-4 {
  margin-bottom: 4px;
}
.m-b-8 {
  margin-bottom: 8px;
}
.m-b-12 {
  margin-bottom: 12px;
}
.m-b-16 {
  margin-bottom: 16px;
}
.m-r-4 {
  margin-right: 4px;
}
.m-r-8 {
  margin-right: 8px;
}
.m-r-12 {
  margin-right: 12px;
}
