.btn {
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $btn-fz;
  font-weight: 500;
  line-height: 20px;
  color: $btn-text;
  background-color: $btn-bg;
  border: $btn-br;
  border-radius: $btn-br-r;
  outline: none;
  cursor: pointer;
  &__form {
    padding: 12px 40px;
  }
  &__icon-arrow-down::after {
    content: "";
    margin-left: 8px;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: center / contain no-repeat url("../../img/icons/chevron-down.svg");
  }
  &__icon-visible {
    padding: 0;
    right: 10px;
    font-size: 18px;
    line-height: 18px;
    color: $secondary;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    span {
      width: 20px;
      font-size: 20px;
      line-height: 18px;
    }
  }
}
